body, html{
    padding: 0;
    margin:0;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 200;
}
canvas{
	height: calc( 50vh - 50px)
}

.button{
	padding: 4px 10px;
	background-color: black;
	border:none;
	color: white;
	font-size: 20px;
}
.button:hover{
	background-color: #222;
}
.inc
{
	background-color: black;
	color: white;
	padding: 8px 15px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.dec
{
	background-color: black;
	color: white;
	padding: 8px 15px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.bg
{
	background-color: black;
	color: white;
	padding: 8px;
	margin: 1px;
}